{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Car name</th>
            <th>New kilometer count</th>
            <th>Adjuster</th>
            <th>Date-time</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row['car_name'] }}</td>
            <td>{{ row['new_kilometercount'] }} </td>
            <td>{{ row['usersname'] }} </td>
            <td>{{ row['date_time'] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}