{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div>
        <div class="container text-center">
            <div class="row">
              <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </tbody>
                </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saterday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                            </tr>
                        </tbody>
                    </table>
                <h5>Make a car reservation</h5>
                <form action="/" method="post">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <select class="form-select mx-auto w-auto car-selector left-options" name="car_name_reservation">
                                    <option disabled selected>Select car</option>
                                    {% for car_name in car_names %}
                                    <option value="{{car_name}}">{{ car_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select mx-auto w-auto car-selector left-options" name="starting_hour">
                                    <option disabled selected>Begin time</option>
                                    {% for i in range(24) %}
                                    <option value="{{ i }}">{{ i }}:00</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select mx-auto w-auto car-selector left-options" name="ending_hour">
                                    <option disabled selected>End time</option>
                                    {% for i in range(24) %}
                                    <option value="{{ i }}">{{ i }}:00</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select mx-auto w-auto car-selector left-options" id="available"  name="reservations_day">
                                    <option disabled selected>Day</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary carsbtn" type="submit">Make reservation</button>
                    </div>
                </form>
            </div>
            <div class="col-6 col-md-4">
                <h5>
                    <table class="table indextable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Kilometer count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for car_info in car_info_list %}
                            <tr>
                                <td>{{ car_info[0] }}</td>
                                <td>{{ car_info[1] }}km</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </h5>
                <form action="/" method="post">
                    <select class="form-select mx-auto w-auto car-selector" name="car_name">
                        <option disabled selected>Select car</option>
                        {% for car_name in car_names %}
                        <option value="{{car_name}}">{{ car_name }}</option>
                        {% endfor %}
                    </select>
                    <div>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="kilometer_count" name="kilometer_count" placeholder="new kilometer count" type="number">
                        <button class="btn btn-primary carsbtn" type="submit">Adjust</button>
                    </div>
                    <hr>
                    <h5>
                        Add a new car:
                    </h5>
                    <div>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto add-car" id="new_car" name="new_car" placeholder="new car name" type="text">
                        <button class="btn btn-primary carsbtn" type="submit">Add</button>
                    </div>
                    <hr>
                    <h5>
                        Remove a car:
                    </h5>
                    <div>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto add-car" id="remove_car" name="remove_car" placeholder="existing car name" type="text">
                        <button class="btn btn-primary carsbtn" type="submit">Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Declare variables for the reservations table
        const day = new Date().getDate();
        let random_int = new Date().getDay();
        let day_of_week = random_int;
        let current_month = new Date().getMonth();
        let current_day = "";
        let something = 0;
        let available_days = [];
        const days_of_week = ["Sunday", "Monday ", "Tuesday ", "Wednesday ", "Thursday ", "Friday ", "Saterday ", "Sunday ", "Monday ", "Tuesday ", "Wednesday ", "Thursday ", "Friday ", "Saterday ", "Sunday", "Monday ", "Tuesday ", "Wednesday ", "Thursday ", "Friday ", "Saterday ", "Sunday"];
        for (let i = 0 ; i < 14; i++) {
            console.log(day_of_week)
            if (day_of_week = 0 || 7) {
                current_day = days_of_week[i];
            }
            if (day_of_week = 1 || 8) {
                current_day = days_of_week[i + 1];
            }
            if (day_of_week = 2 || 9) {
                current_day = days_of_week[i + 2];
            }
            if (day_of_week = 3 || 10) {
                current_day = days_of_week[i + 3];
            }
            if (day_of_week = 4 || 11) {
                current_day = days_of_week[i + 4];
            }
            if (day_of_week = 5 || 12) {
                current_day = days_of_week[i + 5];
            }
            if (day_of_week = 6 || 13) {
                current_day = days_of_week[i + 6];
            }
            if (current_month == 0 || current_month == 2 || current_month == 4 || current_month == 6 || current_month == 7 || current_month == 9 || current_month == 11){
                if ((day + i) > 31) {
                    something ++;
                    document.querySelectorAll("th")[i].innerHTML = current_day + something;
                    available_days.push(something)
                    continue;
                }
            }
            if (current_month == 3 || current_month == 5 || current_month == 8 || current_month == 10){
                if ((day + i) > 30) {
                    something ++;
                    document.querySelectorAll("th")[i].innerHTML = current_day + something;
                    available_days.push(something)
                    continue;
                }
            }
            if (current_month == 1){
                if ((day + i) > 28) {
                    something ++;
                    document.querySelectorAll("th")[i].innerHTML = current_day + something;
                    available_days.push(something)
                    continue;
                }
            }
            document.querySelectorAll("th")[i].innerHTML = current_day + (day + i);
            available_days.push(day + i)
            day_of_week++;
        }
        // Get all the available days they can select to make a reservation
        let selectElement = document.getElementById("available")

        for (let i = 0; i < available_days.length; i++) {
            selectElement.add(new Option(available_days[i]))
        }
    </script>
{% endblock %}