<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://favicon.io/emoji-favicons/automobile -->
        <link href="/static/favicon/favicon.ico" rel="icon">

        <!-- CSS code is in next file -->
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Title start for every page -->
        <title>CarShare: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
    </body>
</html>