{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="/profile" method="post">
        <h5>Change username</h5>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_username" name="new_username" placeholder = {{ username }} type="text">
        </div>
        <h5>Change password</h5>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Adjust</button>
        <p>Leave blank if no adjustments to be made</p>
    </form>
{% endblock %}