{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat Password" type="password">
        </div>
        <div class="mb-3">
            <br><input autocomplete="off" class="form-control mx-auto w-auto" id="group_code_join" name="group_code_join" placeholder="Join group" type="text"> or <input autocomplete="off" class="form-control mx-auto w-auto" id="group_code_create" name="group_code_create" placeholder="Create group" type="text">
        </div>
        <div>
            <button class="btn btn-secondary" onmouseover="showjoingroup()" onmouseleave="unshowjoingroup()">Join group</button> <button class="btn btn-secondary" onmouseover="showcreategroup()" onmouseleave="unshowcreategroup()" >Create group</button>
        </div>
        <p id="text"></p>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>

        const text = document.getElementById('text');
        function showjoingroup(){
            text.innerHTML = 'If owning a group code, enter it';
        };
        function unshowjoingroup(){
            text.innerHTML = '';
        };
        function showcreategroup(){
            text.innerHTML = 'If not owning a group code, input a random';
        };
        function unshowcreategroup(){
            text.innerHTML = '';
        };

    </script>
{% endblock %}