body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-brief-introduction-of-simple-small-fresh-watercolor-company-ppt-background-image_926616.jpg);
    background-repeat: no-repeat;
    background-size: 1720px 1015px;
    text-align: center;
}

#h1 {
    font-size: 40px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.navbutton {
    background-color: #FF0000;
    border-radius: 50px;
    margin: 10px;
    padding: 50px 100px
}

.n {
    font-family: 'Lato', sans-serif;
    color:grey;
    font-size: 50px;
    margin: 0px;
}