body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-brief-introduction-of-simple-small-fresh-watercolor-company-ppt-background-image_926616.jpg);
    background-repeat: repeat;
    background-size: 1720px 1015px;
    text-align: center;
}

#h1 {
    font-size: 40px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

#h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
}

p {
    font-size: 16px;
    margin-top: 40px;
}