{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing.title }}</h1>

    <div style="text-align: left;">
        {% if user.is_authenticated %}
        <form actions="{% url 'listing' listing.id %}"  method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-secondary" value="Watchlist" name="watch"></input>
        </form>
        {% endif %}
        {% if listing.url %}
        <div>
            <img src={{listing.url}} alt="Picture of Listing">
        </div>
        {% else %}
        <div>
            No Image
        </div>
        {% endif %}
        <div>
            <h4>
                {{ listing.title }}
            </h4>
            <h3>
                ${{ listing.bid }}.00
            </h3>
            <form actions="{% url 'listing' listing.id %}"  method="post">
                {% csrf_token %}
                <input type="number" placeholder="Bid" name="bid" min="{{ listing.bid }}">
                <input type="submit" class="btn btn-primary" value="Place Bid"></input>
            </form>
        </div>
        <hr>
        <div>
            Details:
            <ul>
                <li>Listed by: {{ listing.owner }}</li>
                {% if listing.category %}
                <li>Category: {{ listing.category }}</li>
                {% else %}
                <li>Category: No Category Listed</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
