{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transaction_rows %}
            <tr>
                <td>{{ row['stock'] }}</td>
                <td>{{ row['number'] }} </td>
                <td>{{ row['price'] }} </td>
                <td>{{ row['date_time'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}