{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for dictionary in list_of_stocks %}
                <tr>
                    <td>{{ dictionary['stock'] }}</td>
                    <td>{{ dictionary['stock'] }}</td>
                    <td>{{ dictionary['number'] }}</td>
                    <td>{{ dictionary['price'] }}</td>
                    <td>{{ dictionary['total_price'] }}</td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td class="border-0"></td><td class="border-0"></td><td class="border-0"></td>
                    <td class="border-0 fw-bold">Cash</td>

                </tr>
                <tr>
                    <td class="border-0"></td><td class="border-0"></td><td class="border-0"></td>
                    <td class="border-0 fw-bold">TOTAL</td>

                </tr>
            </tfoot>
        </tbody>
    </table>
{% endblock %}