body {
    background-image: url('pexels-felix-mittermeier-956999.jpg');
    text-align: left;
    vertical-align: middle;
}

#h1 {
    font-size: 80px;
    color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}

#indexpara {
    color: #FFFFFF;
    margin-bottom: 50px;
    text-align: center;
}

.navigator {
    height: 100px;
    font-size: 50px;
}

.navbutton {
    background-color: #FF0000;
    border-radius: 50px;
    margin: 10px;
    padding: 50px 100px
}
